doctype html
html
  head
    link(rel="stylesheet",type="text/css",href="dist/ldcv.css")
    script(src="dist/ldcv.js")
  body
    h2 ldCover Demonstration
    .btn(onclick="show()") show
    .ldcv: .base: .inner
      h3 Sample Popup
    script(src="index.js")
